<div class="movie">
    <h2>Title: {{movie.title}} ({{movie.year}})</h2>
    <img
        src="{{movie.image}}">
    <p>Available Tickets: {{movie.ticketsCount}}</p>
    <div class="btn-group">
        <button><a href="#/edit/{{movie.objectId}}">Edit</a></button>
        <button><a href="#/delete/{{movie.objectId}}">Delete</a></button>
        <button><a href="#/buyTicket/{{movie.objectId}}">Buy Ticket</a></button>
        <button><a href="#/details/{{movie.objectId}}">Details</a></button>
    </div>
</div>